<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">

    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form" lay-filter="eidt">
    <div class="layui-form-item" >
        <label class="layui-form-label required">id</label>
        <div class="layui-input-block">
            <input id="goodsId" readonly="readonly" type="text" name="userId" value="" class="layui-input">
            <tip>id不可修改</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">发布者</label>
        <div class="layui-input-block">
            <input id="userName" readonly="readonly" type="text" name="userName" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名" value="" class="layui-input">
            <tip>发布者不可修改</tip>
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label required">商品名称</label>
        <div class="layui-input-block">
            <input id="goodsName" type="text" name="GoodsName" placeholder="商品名称" value="" class="layui-input">

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">图片修改</label>
        <button type="button" class="layui-btn" id="test1">
            <i class="layui-icon">&#xe67c;</i>上传图片
        </button>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">商品价格</label>
        <div class="layui-input-block">
            <input id="goodsPrice" type="text" name="goodsPrice" lay-verify="required" lay-reqtext="" placeholder="商品的价格" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类别</label>
        <div class="layui-input-block">
            <select name="categoryId" lay-filter="aihao">
                <option value=""></option>
                <option value="0">写作</option>
                <option value="1">阅读</option>
                <option value="2">游戏</option>
                <option value="3">音乐</option>
                <option value="4">旅行</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">商品状态</label>
        <div class="layui-input-block">
            <input id="goodsState" type="text" name="goodsState" lay-verify="required" lay-reqtext="" placeholder="商品状态" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">商品库存</label>
        <div class="layui-input-block">
            <input id="goodsStock" type="text" name="userSex" placeholder="商品库存" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>

</div>
</div>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<!--<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>-->
<script>
    window.onload=function (e){
        console.log(e)
    }


    layui.use(['form','upload'], function (obj) {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            upload = layui.upload;

        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/goods/upload/' //上传接口
            ,done: function(res){
                //上传完毕回调
            }
            ,error: function(){
                //请求异常回调
            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var index = layer.alert("点击确认修改", {
                title: '确认提交'
            }, function () {
                $.post({
                    url:"/user/updataUser",
                    data:data.field,
                    success:function (data){
                        console.log(data)
                    }
                })
                // 关闭弹出层
                layer.close(index);
                var iframeIndex = parent.layer.getFrameIndex(window.name);
                // 关闭后刷新父页面
                parent.location.reload();
                parent.layer.close(iframeIndex);
            });

            return false;
        });

    });
</script>
</body>
</html>